.App {
  text-align: center;
  min-height: 80%;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

 nav {
  background-color: transparent;
  background-image: none;
  padding: 0px; 
  margin: 0px;
  z-index: 2;
  text-align: right;
  font-family: 'Nucleo Outline';
 }


/* nav ul {
  list-style-type: none;
  padding: 0px; 
  margin: 0px;
} */


nav li {
  display: inline;
  /* z-index: 3; */
}

nav a, nav a:visited {
  text-decoration: none;
  font-size: 20px;
  color: rgb(227, 228, 227);
  padding: 0 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav a:hover {
  color: hotpink;
} 
.sign-up-form.card {
  /* border: none;
  border-radius: 3%; */
  min-width: 100%;
  padding: 20px;
  z-index: 1;
}

.red {
  color: red;
}

.Rental-Form{
padding-top: 10%;
margin-top: -100px;
}

.Rental-Content{
  font-size: 20pt;
}
.properties-owned {
  background-color: #162c53;
  display: inline-block;
  opacity: .9;
  padding: 20px;
  max-width: 40%;
  font-size: 15px;

}
.page-header {
  /* padding-top: 20%; */
  width: 100%;
  /* min-height: 100%; */
  /* margin-top: -50px; */
  /* z-index: -3; */
 }


.form1 {
  width: 300px;
  position: center;
  z-index: inherit;
}

.sign-up-form1 {
  border-radius: 3%;
  width: 300px;
}

.form-control {
  padding: 10px 25px;
  margin-bottom: 10px; 
  font-size: 20px;
  width: 200px;
  /* background-color: white; */
}

.n-logo{
  padding-top: 150%;
}

.form-group {
  z-index: 1;
}


.footer {
  padding: 0px;
  margin: 0px;
  text-align: justify;
  /* height: 3vh; */
}

.AboutBlog {
  margin-top: -40px;
  padding-bottom: 15px
}

.copyright {
  margin-top: 20px;
}

.rental-result {
  /* border: 2px solid lawngreen; */
  max-width: 90rem;
  height: 400px;
  display: inline-block;
}

#exampleCustomSelect {
  position: relative;
  font-family: Arial;
  background-color: rgb(133, 131, 131);
  border: none;
  /* border-radius: 5% */
  height: 3vh;
  width: 10vw;
  color: white;
}


.btn-round {
  font-size: 12pt;
}

#rentForm{
  margin-top: -100px;
}

#hostContainer {
  margin-top: 150px;
}

#addPhotoInput {
  background-image: transparent;
  background: transparent;
  color: white;
  font-size: 15px;
  /* border: none; */
}

.rentInputs {
  display: inline-block;
  background-color: white;
  max-width: 50px;
  font-weight: bold;
  /* font-size: 12pt; */
}

.dateInputs {
  border-radius: 5%;
}

.rentLabel {
  margin-left: -85px;
}

.orange{
  background-color: orange;
  color: white;
  font-weight: bolder;
}

.rentResults {
  /* color: red;
  border: 10px solid black; */
  max-width: 700px;
  /* min-height: 400px; */
  /* margin-left: 150px; */
}

img {
  max-width: 400px;
  min-height: 50px;
}

.minHeight{
  min-height: 300px;
}

.minHeight{
  margin-left: 100px;
}

.content-center {
  margin-top: 100px;
  zoom: 85%;
  max-width: 99%;
}